/* Extermal CSS */
p{
     color:yellow;
     background-color: blanchedalmond;
      text-align: center;
  }

  h1{
     color: rgb(13, 160, 186);
     text-decoration: underline;
     text-align: center;
        }